.summary {
  padding: 1em;
}

.summary.empty {
  text-align: center;
  font-size: 2em;
} 

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em;
}

.infinite-scroll {
  font-size: 2em;
  line-height: 4em;
}
